body{
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(193, 220, 218);
}

.head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -20;
}

.head1 {
    text-align: center;
    margin-top: 70px;

}
.div1{
    text-align: center;
}
.image1{
    width: 620;
    height: 400;
    margin-bottom: 10px;
    border: 10px solid green;
}

.headpz {
    text-align: center;
}
.head2{
    text-align: center;
    margin-top: 85px;
}

.image2{
    width: 530;
    height: 520;
    margin-bottom: 10px;
    border: 10px solid blue;
}

.div2{
    text-align: center;
}

.headtt{
    text-align: center;
    
}

.head3{
    text-align: center;
    margin-top: 85px;
}

.image3{
    width: 390;
    height: 520;
    margin-bottom: 10px;
    border: 10px solid rgb(41, 81, 52);
}

.div3{
    text-align: center;
}

.headw{
    text-align: center;
    margin-bottom: 80px;
}
